*{
    margin: 0;
    padding: 0;
    font-family: 'poppons', sans-serif;
    box-sizing: border-box;
}

 body{
    background: #f1f5ff;

 }
 .container{
    width: fit-content;
    margin: 150px auto;
 }
 